@charset "UTF-8";

:root {
  --cor-principal: #1C7FAE;
  --cor-principal-dark: #134D68;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--cor-principal);
  font-family: "Open Sans", sans-serif;
}

p {
  background: white;
}

ul {
  background: #EFEFEF;
  padding: 0px;
  text-align: center;
}

li {
  background: white;
  color: black;
  padding: 5px;
  text-align: left;
}

button {
  margin-left: 20px;
  outline: 0px;
  border: 0px;
}