*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div#square {
  background: red;
  width: 250px;
  height: 250px;
  border: 5px solid black;
}

#nclick {
}